# Question 1
#### Consider the Python module and answer
* What value is displayed when the last expression (a) is evaluated?

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()

#### Upon call of function b()

* Step 1 - value of a = 0 (refers global var a and change the value of global a)
* Step 2 - call c(0) and change value of a to 2

In [3]:
b()

#### Value of a is now 2
#### Again call function c(2) and change value of a to 4

In [4]:
b()

#### Value of a is now 4
#### Again call function c(2) and change value of a to 6

In [5]:
a

6

# Question 2

#### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file. If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.

In [9]:
def file_length(name):
    try:
        file = open(name)
        Content = file.read()
        file.close()
        print(len(Content))
        
    # catch IO relataed errors   
    except IOError:
        print("File", name, "not found. Please check directory")
    
    # catch other errors
    except:
        print("Please check directory!")

In [10]:
file_length('midterm.py')

File midterm.py not found. Please check directory

In [11]:
file_length('myname.txt')

23

# Question 3
#### Write a class named Marsupial

In [12]:
class Marsupial:
    
    def __init__(self):
        self.List = []
    
    def put_in_pouch(self,species):
        
        return self.List.append(species)
        
    def pouch_contents(self):
        return self.List

In [13]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
* extends the Marsupial \__init\__ constructor to take, as input, the coordinates x and y of the Kangaroo object
* supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis,
* verloads the \__str\__ operator so it behaves as shown below

In [14]:
class Kangaroo(Marsupial):
    
    def __init__(self, Xcordinate, Ycordinate):
        self.X = Xcordinate
        self.Y = Ycordinate
        
        Marsupial.__init__(self)
       
        
    #def put_in_pouch(self,species):
        #return self.List
        
    #def pouch_contents(self):
        #return self.List
    
    #def setx(self,Xcord):
        #self.X = Xcord
        
    #def setx(self,Ycord):
        #self.Y = Ycord
        
    #def get(self):
        #return (self.X,self.Y)
    
    def jump(self, dx, dy):
        self.X += dx
        self.Y += dy
        
    def __repr__(self):
        return ("I\'m Kangaroo located at coordinates ({},{})" .format(self.X,self.Y))

In [15]:
k = Kangaroo(0,0)
#print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten') 
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [16]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I'm Kangaroo located at coordinates (3,0)

# Question 4
#### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
#### x = 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
#### x = 3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
#### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [17]:
def collatz(X):
    print(X)
    if X == 1:
        return
    else:
        if X % 2 == 0:
            return collatz(int(X/2))
        else:
            return collatz(int(3*X + 1))

In [18]:
collatz(1)

1

In [19]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
#### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [20]:
def binary(x):
    if x == 0:
        return 0
    else:
        return (x % 2 + 10 * binary(int(x // 2)))

In [21]:
binary(0)

0

In [22]:
binary(1)

1

In [23]:
binary(3)

11

In [24]:
binary(9)

1001

# Question 6
#### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [25]:
from html.parser import HTMLParser 

class HeadingParser(HTMLParser):
    
    def handle_starttag(self, tag, attrs):
        self.tag_List = []
        self.tag_List = tag
        
    def handle_data(self, data):
        if self.tag_List == 'h1':
            print(data)
            
        elif self.tag_List == 'h2':
            print(" ", data)
            
        elif self.tag_List == 'h3':
            print("  ", data)
            
        elif self.tag_List == 'h4':
            print("   ", data)
            
        elif self.tag_List == 'h5':
            print("    ", data)
            
        elif self.tag_List == 'h6':
            print("     ", data)

In [29]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


  Principles

# Question 7
#### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [56]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser
import re
def urlanalyzer(url,indent,depth):
    
    print(indent*"" ,url)           

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          

    return urls

In [57]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [58]:
visited = set() 

def WebDir(url,indent,depth):

    # add url to set of visited pages
    global visited    
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = urlanalyzer(url,indent,depth)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                WebDir(link, indent,depth)
            except:
                pass

In [59]:
WebDir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

 http://reed.cs.depaul.edu/lperkovic/one.html
 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/four.html
 http://reed.cs.depaul.edu/lperkovic/five.html
 http://reed.cs.depaul.edu/lperkovic/three.html

# Question 8
#### Write SQL queries on the below database table

#### installing sql

In [38]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\users\91952\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\91952\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: ipython>=1.0 in c:\users\91952\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\91952\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Requirement already satisfied: backcall in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: setuptools>=18.5 in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: decorator in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: jedi>=0.16 in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: colorama in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\91952\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\91952\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\91952\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\91952\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=cacf038bf9245940805941ff8b1389f202c7c9a23aa6e5d76703d911a2659f33
  Stored in directory: c:\users\91952\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1

## Insert values in Db

In [39]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()

#create table
cur.execute("CREATE TABLE TempData (City text, Country text, Season text, Temperature float, Rainfall float)")

#Insert first row values into table
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO TempData VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO TempData VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO TempData VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

### A. Display all Temperature data.

In [40]:
cur.execute('SELECT Temperature FROM TempData')

Asol = cur.fetchall()
for i in Asol:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

### B. Display all the cities, but without repetition.

In [41]:
cur.execute('select DISTINCT City, Country from TempData')
Bsol = cur.fetchall()
for i in Bsol:
    print(i)

('Mumbai', 'India')
('London', 'United Kingdom')
('Cairo', 'Egypt')

### C. Display all the records for India.

In [42]:
cur.execute('select * from TempData WHERE Country = "India" ')
Csol = cur.fetchall()
for i in Csol:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### D. Display all the Fall records.

In [43]:
cur.execute('select * from TempData WHERE Season = "Fall" ')
Dsol = cur.fetchall()
for i in Dsol:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### E. Display the city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [44]:
cur.execute('select City, Country, Season from TempData WHERE Rainfall >=200 and Rainfall <=400 ')
Esol = cur.fetchall()
for i in Esol:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### F. Display the city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [45]:
cur.execute('select City, Country from TempData WHERE Season = "Fall" and Temperature > 20 ORDER BY Temperature')
Fsol = cur.fetchall()
for i in Fsol:
    print(i)

('Cairo', 'Egypt')
('Mumbai', 'India')

### G. Display the total annual rainfall for Cairo.

In [46]:
cur.execute('select SUM(Rainfall) from TempData WHERE City = "Cairo" ')
Gsol = cur.fetchall()
for i in Gsol:
    print(i)

(27.6,)

### H. Display the total rainfall for each season.

In [47]:
cur.execute('select SUM(Rainfall),Season from TempData GROUP BY Season ')
Hsol = cur.fetchall()
for i in Hsol:
    print(i)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

In [48]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### Write list comprehension expressions that use list words and generate the following lists:
#### A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [49]:
X = [i.upper() for i in words]
X

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [50]:
X = [i.lower() for i in words]
X

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### C) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [51]:
X = [len(i) for i in words]
X

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [52]:
X = [[i.upper(), i.lower(), len(i)] for i in words]
X

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

#### E) The list of words in list words containing 4 or more characters.

In [53]:
X = [i for i in words if len(i)>= 4]
X

['quick', 'brown', 'jumps', 'over', 'lazy']